/*
Welcome to Custom CSS!

CSS (Cascading Style Sheets) is a kind of code that tells the browser how
to render a web page. You may delete these comments and get started with
your customizations.

By default, your stylesheet will be loaded after the theme stylesheets,
which means that your rules can take precedence and override the theme CSS
rules. Just write here what you want to change, you don't need to copy all
your theme's stylesheet content.

If you need any further help, ask in the CSS Customization forum.
*/

.prize-footer-2020 {
  padding: 15px;
  float: left;
  height: 110px;
}

@media only screen and (max-width:1150px) {
  .prize-footer-2020 {
    width: 100%;
    padding: 0 0 12px;
    text-align: center;
    margin: 0 auto;
  }
}

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 0 0 0 !important;
	background: none !important;
	border: 0 !important;
	bottom: auto !important;
	float: none !important;
	height: auto !important;
	left: auto !important;
	line-height: 1.1em !important;
	margin: 0 !important;
	outline: 0 !important;
	overflow: visible !important;
	padding: 0 !important;
	position: static !important;
	right: auto !important;
	text-align: left !important;
	top: auto !important;
	vertical-align: baseline !important;
	width: auto !important;
	box-sizing: content-box !important;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-size: 1em !important;
	min-height: inherit !important;
	min-height: auto !important;
}

.syntaxhighlighter {
	width: 100% !important;
	margin: 1em 0 !important;
	position: relative !important;
	overflow: auto !important;
	font-size: 1em !important;
}

.syntaxhighlighter .container:before, .syntaxhighlighter .container:after {
	content: none !important;
}

.syntaxhighlighter.source {
	overflow: hidden !important;
}

.syntaxhighlighter .bold {
	font-weight: bold !important;
}

.syntaxhighlighter .italic {
	font-style: italic !important;
}

.syntaxhighlighter .line {
	white-space: pre !important;
}

.syntaxhighlighter table {
	width: 100% !important;
}

.syntaxhighlighter table caption {
	text-align: left !important;
	padding: .5em 0 .5em 1em !important;
}

.syntaxhighlighter table td.code {
	width: 100% !important;
}

.syntaxhighlighter table td.code .container {
	position: relative !important;
}

.syntaxhighlighter table td.code .container textarea {
	box-sizing: border-box !important;
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	border: none !important;
	background: white !important;
	padding-left: 1em !important;
	overflow: hidden !important;
	white-space: pre !important;
}

.syntaxhighlighter table td.gutter .line {
	text-align: right !important;
	padding: 0 .5em 0 1em !important;
}

.syntaxhighlighter table td.code .line {
	padding: 0 1em !important;
}

.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
	padding-left: 0 !important;
}

.syntaxhighlighter.show {
	display: block !important;
}

.syntaxhighlighter.collapsed table {
	display: none !important;
}

.syntaxhighlighter.collapsed .toolbar {
	padding: .1em .8em 0 !important;
	font-size: 1em !important;
	position: static !important;
	width: auto !important;
	height: auto !important;
}

.syntaxhighlighter.collapsed .toolbar span {
	display: inline !important;
	margin-right: 1em !important;
}

.syntaxhighlighter.collapsed .toolbar span a {
	padding: 0 !important;
	display: none !important;
}

.syntaxhighlighter.collapsed .toolbar span a.expandSource {
	display: inline !important;
}

.syntaxhighlighter .toolbar {
	position: absolute !important;
	right: 1px !important;
	top: 1px !important;
	width: 11px !important;
	height: 11px !important;
	font-size: 10px !important;
	z-index: 10 !important;
}

.syntaxhighlighter .toolbar span.title {
	display: inline !important;
}

.syntaxhighlighter .toolbar a {
	display: block !important;
	text-align: center !important;
	text-decoration: none !important;
	padding-top: 1px !important;
}

.syntaxhighlighter .toolbar a.expandSource {
	display: none !important;
}

.syntaxhighlighter.ie {
	font-size: .9em !important;
	padding: 1px 0 !important;
}

.syntaxhighlighter.ie .toolbar {
	line-height: 8px !important;
}

.syntaxhighlighter.ie .toolbar a {
	padding-top: 0 !important;
}

.syntaxhighlighter.printing .line.alt1 .content,
  .syntaxhighlighter.printing .line.alt2 .content,
  .syntaxhighlighter.printing .line.highlighted .number,
  .syntaxhighlighter.printing .line.highlighted.alt1 .content,
  .syntaxhighlighter.printing .line.highlighted.alt2 .content {
	background: none !important;
}

.syntaxhighlighter.printing .line .number {
	color: #bbbbbb !important;
}

.syntaxhighlighter.printing .line .content {
	color: black !important;
}

.syntaxhighlighter.printing .toolbar {
	display: none !important;
}

.syntaxhighlighter.printing a {
	text-decoration: none !important;
}

.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
	color: black !important;
}

.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
	color: #008200 !important;
}

.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
	color: blue !important;
}

.syntaxhighlighter.printing .keyword {
	color: #006699 !important;
	font-weight: bold !important;
}

.syntaxhighlighter.printing .preprocessor {
	color: gray !important;
}

.syntaxhighlighter.printing .variable {
	color: #aa7700 !important;
}

.syntaxhighlighter.printing .value {
	color: #009900 !important;
}

.syntaxhighlighter.printing .functions {
	color: #ff1493 !important;
}

.syntaxhighlighter.printing .constants {
	color: #0066cc !important;
}

.syntaxhighlighter.printing .script {
	font-weight: bold !important;
}

.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
	color: gray !important;
}

.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
	color: #ff1493 !important;
}

.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
	color: red !important;
}

.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
	color: black !important;
}

.syntaxhighlighter {
	background-color: #1b2426 !important;
}

.syntaxhighlighter .line.alt1 {
	background-color: #1b2426 !important;
}

.syntaxhighlighter .line.alt2 {
	background-color: #1b2426 !important;
}

.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
	background-color: #323E41 !important;
}

.syntaxhighlighter .line.highlighted.number {
	color: #b9bdb6 !important;
}

.syntaxhighlighter table caption {
	color: #b9bdb6 !important;
}

.syntaxhighlighter table td.code .container textarea {
	background: #1b2426;
	color: #b9bdb6;
}

.syntaxhighlighter .gutter {
	color: #afafaf !important;
}

.syntaxhighlighter .gutter .line {
	border-right: 3px solid #435a5f !important;
}

.syntaxhighlighter .gutter .line.highlighted {
	background-color: #435a5f !important;
	color: #1b2426 !important;
}

.syntaxhighlighter.printing .line .content {
	border: none !important;
}

.syntaxhighlighter.collapsed {
	overflow: visible !important;
}

.syntaxhighlighter.collapsed .toolbar {
	color: #5ba1cf !important;
	background: #000 !important;
	border: 1px solid #435a5f !important;
}

.syntaxhighlighter.collapsed .toolbar a {
	color: #5ba1cf !important;
}

.syntaxhighlighter.collapsed .toolbar a:hover {
	color: #5ce638 !important;
}

.syntaxhighlighter .toolbar {
	color: #fff !important;
	background: #435a5f !important;
	border: none !important;
}

.syntaxhighlighter .toolbar a {
	color: #fff !important;
}

.syntaxhighlighter .toolbar a:hover {
	color: #e0e8ff !important;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
	color: #b9bdb6 !important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
	color: #878a85 !important;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
	color: #5ce638 !important;
}

.syntaxhighlighter .keyword {
	font-weight: bold !important;
	color: #5ba1cf !important;
}

.syntaxhighlighter .preprocessor {
	color: #435a5f !important;
}

.syntaxhighlighter .variable {
	color: #ffaa3e !important;
}

.syntaxhighlighter .value {
	color: #009900 !important;
}

.syntaxhighlighter .functions {
	color: #ffaa3e !important;
}

.syntaxhighlighter .constants {
	color: #e0e8ff !important;
}

.syntaxhighlighter .script {
	font-weight: bold !important;
	color: #5ba1cf !important;
	background-color: none !important;
}

.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
	color: #e0e8ff !important;
}

.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
	color: white !important;
}

.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
	color: #ffaa3e !important;
}

/***
 * Embedded Gist Styling
 * 
 * https://github.com/lonekorean/gist-syntax-themes/blob/master/stylesheets/monokai.css
 ***/
body .gist .highlight {
    background: #272822;
}
body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-s2,
body .gist .pl-stj {
    color: #f8f8f2;
}
body .gist .pl-c1 {
    color: #ae81ff;
}
body .gist .pl-enti {
    color: #a6e22e;
    font-weight: 700;
}
body .gist .pl-st {
    color: #66d9ef;
}
body .gist .pl-mdr {
    color: #66d9ef;
    font-weight: 400;
}
body .gist .pl-ms1 {
    background: #fd971f;
}
body .gist .pl-c,
body .gist .pl-c span,
body .gist .pl-pdc {
    color: #75715e;
    font-style: italic;
}
body .gist .pl-cce,
body .gist .pl-cn,
body .gist .pl-coc,
body .gist .pl-enc,
body .gist .pl-ens,
body .gist .pl-kos,
body .gist .pl-kou,
body .gist .pl-mh .pl-pdh,
body .gist .pl-mp,
body .gist .pl-mp1 .pl-sf,
body .gist .pl-mq,
body .gist .pl-pde,
body .gist .pl-pse,
body .gist .pl-pse .pl-s2,
body .gist .pl-mp .pl-s3,
body .gist .pl-smi,
body .gist .pl-stp,
body .gist .pl-sv,
body .gist .pl-v,
body .gist .pl-vi,
body .gist .pl-vpf,
body .gist .pl-mri,
body .gist .pl-va,
body .gist .pl-vpu {
    color: #66d9ef;
}
body .gist .pl-cos,
body .gist .pl-ml,
body .gist .pl-pds,
body .gist .pl-s,
body .gist .pl-s1,
body .gist .pl-sol {
    color: #e6db74;
}
body .gist .pl-e,
body .gist .pl-ef,
body .gist .pl-en,
body .gist .pl-enf,
body .gist .pl-enm,
body .gist .pl-entc,
body .gist .pl-entm,
body .gist .pl-eoac,
body .gist .pl-eoac .pl-pde,
body .gist .pl-eoi,
body .gist .pl-mai .pl-sf,
body .gist .pl-mm,
body .gist .pl-pdv,
body .gist .pl-som,
body .gist .pl-sr,
body .gist .pl-vo {
    color: #a6e22e;
}
body .gist .pl-ent,
body .gist .pl-eoa,
body .gist .pl-eoai,
body .gist .pl-eoai .pl-pde,
body .gist .pl-k,
body .gist .pl-ko,
body .gist .pl-kolp,
body .gist .pl-mc,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s3,
body .gist .pl-smc,
body .gist .pl-smp,
body .gist .pl-sok,
body .gist .pl-sra,
body .gist .pl-src,
body .gist .pl-sre {
    color: #f92672;
}
body .gist .pl-mb,
body .gist .pl-pdb {
    color: #e6db74;
    font-weight: 700;
}
body .gist .pl-mi,
body .gist .pl-pdi {
    color: #f92672;
    font-style: italic;
}
body .gist .pl-pdc1,
body .gist .pl-scp {
    color: #ae81ff;
}
body .gist .pl-sc,
body .gist .pl-sf,
body .gist .pl-mo,
body .gist .pl-entl {
    color: #fd971f;
}
body .gist .pl-mi1,
body .gist .pl-mdht {
    color: #a6e22e;
    background: rgba(0, 64, 0, .5);
}
body .gist .pl-md,
body .gist .pl-mdhf {
    color: #f92672;
    background: rgba(64, 0, 0, .5);
}
body .gist .pl-mdh,
body .gist .pl-mdi {
    color: #a6e22e;
    font-weight: 400;
}
body .gist .pl-ib,
body .gist .pl-id,
body .gist .pl-ii,
body .gist .pl-iu {
    background: #a6e22e;
    color: #272822;
}

body .gist .gist-meta {
    background-color: #1a1a1a;
}
/*** End gist styling ***/

#newsletter-blurb {
	margin: 1em;
	font-style: italic;
	padding: 10px 60px;
	color: #ddd;
	background-color: #222;
	border-left: 4px solid #f3bf10;
}

/* In-Body CSS Buttons */
.cssbutton {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #f3bf10;
  color: #000;
  font-family: "proxima-nova-n7", "proxima-nova-n6", "proxima-nova", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  padding: 10px;
  text-transform: uppercase;
  border: solid #ffffff 1px;
  text-decoration: none;
  cursor: pointer;
}
.cssbutton:hover, .button-demo:active {
	background-color: #ffffff;
}
.cssbutton:visited {
  color: #000;
}

/* code for two-column responsive */
.two_col {
  float: left;
  width: 50%;
	padding:8px;
}

/* Clear floats after the columns */
.two_col_container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .two_col {
    width: 100%;
		padding: 0;
  }
}
