.sp_LFRxO4umyE0_1_5x{background-image:url(/rsrc.php/v3/yM/r/GyV3jA-DiBL.png);background-size:34px 136px;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sp_LFRxO4umyE0_1_5x.sx_84aa5c{background-position:0 0}.sp_LFRxO4umyE0_1_5x.sx_e44f31{background-position:0 -34px}.sp_LFRxO4umyE0_1_5x.sx_43b0a3{background-position:0 -68px}.sp_LFRxO4umyE0_1_5x.sx_f2369b{background-position:0 -102px}

#bootloader_BEBxn{height:42px;}.bootloader_BEBxn{display:block!important;}