.sp_QKph_M6xJB3_1_5x{background-image:url(/rsrc.php/v3/yk/r/vV1O_iGN4dB.png);background-size:22px 88px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_QKph_M6xJB3_1_5x.sx_51d5eb{background-position:0 0}.sp_QKph_M6xJB3_1_5x.sx_8e25a3{background-position:0 -22px}.sp_QKph_M6xJB3_1_5x.sx_74fd3d{background-position:0 -44px}.sp_QKph_M6xJB3_1_5x.sx_96599f{background-position:0 -66px}
.sp_QT62xCWNsJq_1_5x{background-image:url(/rsrc.php/v3/yk/r/DzoMJHJt2XW.png);background-size:22px 44px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_QT62xCWNsJq_1_5x.sx_8ebb7c{background-position:0 0}.sp_QT62xCWNsJq_1_5x.sx_1db269{background-position:0 -22px}
.sp_0wfBV2e8w8t_1_5x{background-image:url(/rsrc.php/v3/yi/r/WC9m-hkaveq.png);background-size:22px 22px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_0wfBV2e8w8t_1_5x.sx_89af90{background-position:0 0}

#bootloader_wd43_{height:42px;}.bootloader_wd43_{display:block!important;}