.sp_rWi33PYyn16_1_5x{background-image:url(/rsrc.php/v3/ym/r/KKWPgxAZvQm.png);background-size:56px 56px;background-repeat:no-repeat;display:inline-block;height:54px;width:54px}.sp_rWi33PYyn16_1_5x.sx_7c189d{background-position:0 0}

#bootloader_Efg4H{height:42px;}.bootloader_Efg4H{display:block!important;}