/*
Theme Name: 3dtac
Theme URI: 
Description: Voronin Studio
Version: 1.0
Author: Alexey Voronin
Author URI: http://www.voroninstudio.com/
Tags: fixed width, right sidebar, two columns, valid XHTML, widgets
*/

/* begin Page */

/* Generated with Artisteer version 2.3.0.20825, file checksum is 023F8912. */

body
{
	margin: 0 auto;
	padding: 0;
	background-color: #EAE4D5;
}

#art-main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}


#contact {left:50%;	position:absolute; top:0px;	z-index:1; width: 440px;}
.mail {padding-left: 220px; padding-top: 10px; font-size: 12px; color: #999999;}
.mail a:link {color: #999999; text-decoration:none}
.mail a:hover {color: #0099FF; text-decoration:none}
.mail a:visited {color: #999999; text-decoration:none}

#art-page-background-simple-gradient
{
	position: absolute;
	background-image: url('images/Page-BgSimpleGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width: 100%;
	height: 1px;
}

.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 850px;
	min-width:21px;
	min-height:21px;
}

.art-Sheet-body
{
	position: relative;
	z-index: 1;
	padding: 0px;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl, .art-Sheet-tc, .art-Sheet-bc,.art-Sheet-cr, .art-Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl
{
	width: 20px;
	height: 20px;
	background-image: url('images/Sheet-s.png');
}

.art-Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 10px, 10px, auto);
}

.art-Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 10px, 10px);
}

.art-Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(10px, 10px, auto, auto);
}

.art-Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(10px, auto, auto, 10px);
}

.art-Sheet-tc, .art-Sheet-bc
{
	left: 10px;
	right: 10px;
	height: 20px;
	background-image: url('images/Sheet-h.png');
}

.art-Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 10px, auto);
}

.art-Sheet-bc
{
	bottom: 0;
	clip: rect(10px, auto, auto, auto);
}

.art-Sheet-cr, .art-Sheet-cl
{
	top: 10px;
	bottom: 10px;
	width: 20px;
	background-image: url('images/Sheet-v.png');
}

.art-Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 10px);
}

.art-Sheet-cl
{
	left:0;
	clip: rect(auto, 10px, auto, auto);
}

.art-Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background-color: #FFFFFF;
}


.art-Sheet
{
	margin-top: 50px !important;
}

#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
	min-width:850px;
}

/* end Box, Sheet */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.art-menu, .art-menu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.art-menu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.art-menu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.art-menu li li
{
	float: none;
}

.art-menu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.art-menu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.art-menu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.art-menu:after, .art-menu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.art-menu, .art-menu ul
{
	min-height: 0;
}

.art-menu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}





/* menu structure */

.art-menu
{
	padding: 10px 10px 10px 10px;
}

.art-nav
{
	position: relative;
	height: 51px;
	z-index: 100;
}


/* end Menu */

/* begin MenuItem */
.art-menu ul li
{
	clear: both;
}

.art-menu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 31px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 4px;
	margin-left: 4px;
}


.art-menu a .r, .art-menu a .l
{
	position:absolute;
	display: block;
	top:0;
	z-index:-1;
	height: 93px;
	background-image: url('images/MenuItem.png');
}

.art-menu a .l
{
	left:0;
	right:2px;
}

.art-menu a .r
{
	width:404px;
	right:0;
	clip: rect(auto, auto, auto, 402px);
}

.art-menu a .t 
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 11px;
font-style: normal;
font-weight: normal;
text-decoration: none;
text-transform: uppercase;
	color: #0099FF;
	padding: 0 12px;
	margin: 0 2px;
	line-height: 31px;
	text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
	top:-31px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
	top:-31px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
	top:-31px;
}
.art-menu a:hover .t
{
	color: #FFFFFF;
}

.art-menu li:hover a .t
{
	color: #FFFFFF;
}

.art-menu li:hover>a .t
{
	color: #FFFFFF;
}


.art-menu a.active .l, .art-menu a.active .r
{
	top: -62px;
}

.art-menu a.active .t
{
	color: #FCFCFD;
}


/* end MenuItem */

/* begin MenuSubItem */
.art-menu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 25px;
	width: 170px;
	overflow:hidden;
	line-height: 25px;
	margin-right: auto;


	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: solid;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 25px;
	color: #FCFCFD;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 11px;
font-style: normal;
font-weight: normal;
text-decoration: none;
}

.art-menu ul ul a
{
	margin-left: auto;
}

.art-menu ul li a:hover
{
	color: #FFFFFF;
	background-position: 0 -25px;
}

.art-menu ul li:hover>a
{
	color: #FFFFFF;
	background-position: 0 -25px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
	color: #FFFFFF;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
	color: #FFFFFF;
}


/* end MenuSubItem */

/* begin Header */
div.art-Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 850px;
	height: 200px;
}


div.art-Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 850px;
	height: 200px;
	background-image: url('images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Logo */
.art-Logo
{
	display : block;
	position: absolute;
	left: {LogoLeft}px;
	top: {LogoTop}px;
	width: {LogoWidth}px;
}


/* end Logo */

/* begin ContentLayout */
.art-contentLayout
{
	position: relative;
	margin-bottom: 0px;
	width: 850px;
}
/* end ContentLayout */

/* begin Box, Block */
.art-Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.art-Block-body
{
	position: relative;
	z-index: 1;
	padding: 0px;
}



.art-Block
{
	margin: 15px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 0px;
}

.art-BlockHeader .t
{
	height: 30px;
	color: #CCCCCC;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 16px;
font-style: normal;
font-weight: bold;
margin-top: 8px;
	white-space : nowrap;
	padding: 0 1px;
	line-height: 30px;	
}




/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.art-BlockContent-body
{
	position: relative;
	z-index: 1;
	padding: 7px;
}



.art-BlockContent-body
{
	color:#666666;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 12px;
margin-top: 5px;
}

.art-BlockContent-body a:link
{
	color: #FF9933;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-BlockContent-body a:visited, .art-BlockContent-body a.visited
{
	color: #FF9933;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-BlockContent-body a:hover, .art-BlockContent-body a.hover
{
	color: #0099FF;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-BlockContent-body ul
{
	list-style-type: none;
	color: #132F3F;
	margin:0;
	padding:0;
}

.art-BlockContent-body li
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 12px;
}

.art-BlockContent-body ul li
{
	padding:0px 0 0px 9px;
	background-image: url('images/BlockContentBullets.png');
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
}

/* end Box, BlockContent */

/* begin Box, Post */
.art-Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.art-Post-body
{
	position: relative;
	z-index: 1;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}



.art-Post
{
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

/* Start images */
a img
{
	border: 0;
}

.art-article img, img.art-article
{
	border: 1px solid #E8E8E8;
	margin: 1em;
}

.art-metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin: 2px;
}
/* Finish images */

/* Start tables */

.art-article table, table.art-article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.art-article table, table.art-article .art-article tr, .art-article th, .art-article td
{
	background-color:Transparent;
}

.art-article th, .art-article td
{
	padding: 2px;
	border: solid 0px #CCCCCC;
	vertical-align: top;
	text-align:left;
}

.art-article th
{
	text-align: center;
	vertical-align: middle;
	padding: 7px;
}

/* Finish tables */

pre
{
	overflow: auto;
	padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.art-PostHeader
{
	text-decoration:none;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #999999;
	margin-top: 0.2em;
	margin-right: 0;
	margin-bottom: 0em;
	margin-left: 0;
}

.art-PostHeader a, .art-PostHeader a:link, .art-PostHeader a:visited, .art-PostHeader a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 20px;
font-style: normal;
font-weight: bold;
text-align: left;
	margin:0;
	color: #999999;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.art-PostHeader a:link
{
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: none;
font-variant: small-caps;
  color: #999999;
}

.art-PostHeader a:visited, .art-PostHeader a.visited
{
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: none;
font-variant: small-caps;
  color: #999999;
}

.art-PostHeader a:hover, .art-PostHeader a.hovered
{
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: none;
font-variant: small-caps;
  color: #FF9933;
}
/* end PostHeader */

/* begin PostIcons */
.art-PostHeaderIcons
{
	padding:1px;
}

.art-PostHeaderIcons, .art-PostHeaderIcons a, .art-PostHeaderIcons a:link, .art-PostHeaderIcons a:visited, .art-PostHeaderIcons a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 11px;
font-style: normal;
font-weight: normal;
text-align: left;
margin-bottom: 15px;
	color: #999999;
}

.art-PostHeaderIcons a, .art-PostHeaderIcons a:link, .art-PostHeaderIcons a:visited, .art-PostHeaderIcons a:hover
{
	margin:0;
}

.art-PostHeaderIcons a:link
{
font-family: Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: normal;
text-decoration: none;
	color: #FF9933;
}

.art-PostHeaderIcons a:visited, .art-PostHeaderIcons a.visited
{
font-family: Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: normal;
text-decoration: none;
	color: #FF9933;
}

.art-PostHeaderIcons a:hover, .art-PostHeaderIcons a.hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: normal;
text-decoration: underline;
	color: #FF9933;
}
/* end PostIcons */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
  color: #666666;
}


.art-PostContent p 
{
	margin: 0.5em 0;
}

.art-PostContent, .art-PostContent p
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
text-align: justify;
  color: #666666;
}

.art-PostContent
{
  margin:0;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #000000;
}

/* Adds special style to an unvisited link. */
a:link
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #000000;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #000000;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #0099FF;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 16px;
font-style: normal;
font-weight: normal;
  color: #666666;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
  color: #666666;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;
  color: #666666;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 13px;
  color: #666666;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 11px;
  color: #999999;
}
/* Finish Content headings Fonts & Colors  */
/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ul
{
	
	margin-left: 30px;
	
	padding-left: 30px;
}

















/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote,
blockquote p,
.art-PostContent blockquote p
{
	color:#666666;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

blockquote,
.art-PostContent blockquote
{
		border:dashed 1px #FF9B0F; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 5px;
	background-color:#FFFFFF;
}


/* Finish blockuote */
/* end PostQuote */

/* begin PostIcons */
.art-PostFooterIcons
{
	padding:1px;
}

.art-PostFooterIcons, .art-PostFooterIcons a, .art-PostFooterIcons a:link, .art-PostFooterIcons a:visited, .art-PostFooterIcons a:hover
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 11px;
font-style: normal;
font-weight: normal;
text-align: left;
margin-top: 10px;
	color: #999999;
}

.art-PostFooterIcons a, .art-PostFooterIcons a:link, .art-PostFooterIcons a:visited, .art-PostFooterIcons a:hover
{
	margin:0;
}

.art-PostFooterIcons a:link
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: normal;
text-decoration: underline;
	color: #0099FF;
}

.art-PostFooterIcons a:visited, .art-PostFooterIcons a.visited
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: normal;
text-decoration: underline;
	color: #0099FF;
}

.art-PostFooterIcons a:hover, .art-PostFooterIcons a.hover
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: normal;
text-decoration: none;
	color: #0099FF;
}
/* end PostIcons */

/* begin Button */
.art-button-wrapper .art-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:21px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.art-button-wrapper
{
	display:inline-block;
	position:relative;
	height: 21px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}

.firefox2 .art-button-wrapper
{
	display:block;
	float:left;
}

.art-button-wrapper .art-button
{
	display:block;
	height: 21px;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 11px;
font-style: normal;
font-weight: bold;
	white-space: nowrap;
	text-align: left;
	padding: 0 5px !important;
	line-height: 21px;
	text-decoration: none !important;
	color: #E8EBEE !important;
}

input, select
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 11px;
font-style: normal;
font-weight: bold;
}

.art-button-wrapper.hover .art-button, .art-button:hover
{
	color: #FCFCFD !important;
	text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
	color: #FCFCFD !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 63px;
	background-image: url('images/Button.png');
}

.art-button-wrapper .l
{
	left:0;
	right:4px;
}

.art-button-wrapper .r
{
	width:409px;
	right:0;
	clip: rect(auto, auto, auto, 405px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
	top: -21px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
	top: -42px;
}


/* end Button */

/* begin Footer */
.art-Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 850px;
	margin: 5px auto 0px auto;
}

.art-Footer .art-Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 10px;
	text-align: center;
}

.art-Footer .art-Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url('images/Footer.png');
	width: 850px;
	height: 150px;
	bottom:0;
	left:0;
}


.art-rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url('images/rssIcon.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 16px;
	width: 16px;
    cursor: default;
}




.art-Footer .art-Footer-text p
{
	margin: 0;
}

.art-Footer .art-Footer-text
{
	display:inline-block;
	color:#1E2429;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 11px;
}

.art-Footer .art-Footer-text a:link
{
	text-decoration: none;
	color: #245C7A;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-Footer .art-Footer-text a:visited
{
	text-decoration: none;
	color: #2B343B;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-Footer .art-Footer-text a:hover
{
	text-decoration: none;
	color: #0C1E27;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#0F2733;
}

.art-page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#1C2126;
}
/* end PageFooter */

/* begin LayoutCell */
.art-contentLayout .art-content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 636px;
}
.art-contentLayout .art-content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 848px;
}
/* end LayoutCell */

/* begin LayoutCell */
.art-contentLayout .art-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 212px;
}
/* end LayoutCell */



.commentlist, .commentlist li
{
	background: none;
}

.commentlist li li
{
	margin-left:30px;
}

.commentlist li .avatar
{
	float: right;
	border: 1px solid #eee;
	padding: 2px;
	margin:1px;
	background: #fff;
}

.commentlist li cite
{
	font-size:1.2em;
}

#commentform textarea
{
	width: 100%;
}

img.wp-smiley
{
	border:none;
	margin:0;
	padding:0;
}

.navigation
{
	display: block;
	text-align: center;
}

/* Recommended by http://codex.wordpress.org/CSS */
/* Begin */
.aligncenter, div.aligncenter, .art-article .aligncenter img, .aligncenter img.art-article, .aligncenter img, img.aligncenter
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft
{
	float: left;
}

.alignright
{
	float: right;
}

.alignright img, img.alignright
{
	margin: 1em;
	margin-right: 0;
}

.alignleft img, img.alignleft
{
	margin: 1em;
	margin-left: 0;
}

.wp-caption
{
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
}

.wp-caption img
{
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text
{
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* End */


.hidden
{
	display: none;
}

/* Calendar */
#wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a {
	display: block;
}

#wp-calendar caption {
	text-align: center;
	width: 100%;
}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
}

.gallery {
    letter-spacing: normal;
}