<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	xmlns:georss="http://www.georss.org/georss"
	xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
	
	>
<channel>
	<title>
	Comments on: List of 149 MKULTRA Subprojects	</title>
	<atom:link href="https://www.illuminatirex.com/list-of-mkultra-subprojects/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.illuminatirex.com/list-of-mkultra-subprojects/</link>
	<description>Conspiracy comics, lists, articles and other conspiratorial goodies....</description>
	<lastBuildDate>Sat, 20 Jan 2018 06:58:32 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Object Caching 38/57 objects using apc
Page Caching using disk: enhanced 
Minified using apc
Database Caching 6/14 queries in 0.006 seconds using apc

Served from: www.illuminatirex.com @ 2020-02-16 01:14:58 by W3 Total Cache
-->